.main{
    background: url("public/bg.gif");
    width: 90%;
    margin: 55px auto;
    background-size: contain;
}

.mainContainer{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    height: 500px;
    padding: 60px 0;
}
.container{
    width: 280px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_video{
    text-align: center;
    background: #fff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.two-photos{
    background: #fff;
    position: relative;
    border-radius: 20px;
}

.two-photos:focus{
    outline: none;
}
.two-photos__container{
    display: flex;
    min-height: 216px;
    font-size: 15px;
    color: #0230FE;
    align-items: center;
    text-align: center;
}

.text{
    display: block;
    font-size: 20px;
    background: #5C75E6;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 280px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
}

.image{
    position: absolute;
    top: 170px;
    left: 70px;
}

.image-small{
    width: 48px;
    padding: 90px 46px;
    margin: 0 0 53px;
}

.image-small:first-child{
    border-right: 2px solid #5C75E6;
}

.loader{
    margin: auto;
}
