.main{
    background: url("public/bg.gif");
    width: 90%;
    margin: 55px auto;
    background-size: contain;
}

.mainContainer{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    height: 500px;
    padding: 60px 0;
}
.container{
    background: #fff;
    width: 280px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.text{
    display: block;
    font-size: 20px;
    background: #5C75E6;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.image{
    position: absolute;
    top: 170px;
    left: 70px;
}
